                                    /* Universal Styles */

html {
  font-size: 18px;
}
body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: inherit;
}
@media only screen and (max-width: 990px) {
  html {
    font-size: 14px;
  }
}
                                        /* Header */
header {
  display: flex;
  align-items: center;
  padding: .5rem 3.75rem;
  background-color: black;
  color: white;
  height: 70px;
}
.logo {
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
}
header .logo-small {
  display: none;
}
header .logo-small,
header .logo-big {
  flex-grow: 1;
}
nav li {
  display: inline;
  padding-right: 2rem;
  transition: padding-right 5s ease-out;
}
a:hover, a:focus {
  text-decoration: underline;
  font-size: 18px;
  color: blue;
  transition: all 1s;
}
nav li:last-child {
  padding-right: 0;
}
@media only screen and (max-width: 990px) {
  header .logo-big {
    display: none;
  }
  header .logo-small {
    display: block;
  }
}
@media only screen and (max-width: 540px) {
  header {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
  header .logo-small {
    margin-bottom: 1rem;
  }
}
                                           /* body */
.banner {
  display: flex;
  justify-content: center;
  background-image: url(./pics/Arabesque1.png);
  background-size: cover;
  width: auto;
  height: 650px;
}
.banner h1 {
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  color: white;
  text-shadow: 2px 2px 5px black;
  margin: 39px 0px 0px 330px;
  opacity: .9;
}
.banner1 {
  display: flex;
  justify-content: center;
  background-image: url(./pics/Flight1.jpg);
  background-size: cover;
  width: auto;
  height: 1200px;
  transition: height 1s 3s;
}
.banner1:hover {
  height: 1150px;
  transition: height 4s ease-out;
}
.banner1 h1 {
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  color: white;
  text-shadow: 2px 2px 5px black;
  margin: 208px 146px 0px 0px;
  opacity: .9;
}
.banner2 {
  width: auto;
  height: 1100px;
  background-color: black;
}
.banner2 h1 {
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  color: white;
  text-align: center;
  margin: 0px;
  padding: 80px 0px 0px 0px;
}
.banner2 h5 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: white;
  text-align: center;
  margin: 0px;
  padding: 40px 0px 80px 0px;
  line-height: 50px;
}
.categories {
  width: inherit;
  height: 500px;
  display: flex;
  margin: 0px 50px 0px 105px;
}
.banner2 img {
  width: 200px;
  height: 450px;
  padding: 5px 75px 0px 75px;
  border-radius: 25px;
}
.banner2 p {
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: white;
  text-align: center;
}